<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1><%= message1 %></h1>
    <img src="/images/chill.webp" alt="Chill Guy">
    <h1><%= message2 %></h1>
</body>
</html>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 97vh;
        background-image: linear-gradient(to right top, #b597f6, #a0a7fb, #92b3f9, #8fbef3, #96c6ea);
    }

    img {
        height: 50vh;
    }
</style>
